<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
        <b>Login Page</b>
      </div>
<div class="form-group" col-md-6>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li>
      <div class="alert alert-success"> {{ message }}</div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<div class="colo-md-7>">
  <form method="post" action="" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <label class="col-md-2 control-label">Username</label>
    <div class="col-md-5">
      <input type="text" name="user" class="form-control" placeholder="Enter Username">
    </div>
    </div><!--Username-->
    
    <div class="form-group">
      <label class="col-md-2 control-label">Password</label>
    <div class="col-md-5">
      <input type="password" name="pass" class="form-control" placeholder="Enter Password">
    </div>
    </div><!--Password-->
    <div class="col-md-offset-3">
      <button type="submit" name="btn btn-primary">Login</button>
    </div>

  </form>
</div>
    </div>
  </body>
</html>
